* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: linear-gradient(120deg, goldenrod, crimson);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-size: 12.25vw;
  border: 0.1em solid white;
  background: transparent;
  color: white;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
}

.seperator {
  transform: translate(0, -0.09em);
}

.milisec::after {
  content: attr(data-mili);
}

@media (orientation: portrait) {
  #app {
    font-size: 11.5vh;
    flex-direction: column;
  }

  .seperator {
    transform: rotate(90deg) translate(0, -0.09em);
  }

  .milisec::after {
    content: attr(data-centi);
  }
}
